<script type="text/html" id="addReleaseFormTemplate">
    <div class="addReleaseForm">
        <form>
            <input type="text" data-bind="value: releaseItemTitleText"/>

            <button data-bind="click: addReleaseItemClick">Add</button>
        </form>
    </div>
</script>