<script type="text/html" id="addReleaseFormTemplate">
<div id="headleft">
    <img id="headlogo" src="~/Content/site/images/headlogobg.png" alt="releaseit tech web releases aggrigator" />
    <div id="headslogan">add new release for the world to hear</div>
    <div id="headcategorytitle">
        <select id="headcategory">
            <option>.NET</option>
            <option>Sql Server</option>
            <option>C#</option>
        </select>
        <input id="headtitle" type="text" value="your title goes here"  data-bind="value: releaseItemTitleText" />
    </div>
    <input id="headurl" type="text" value="http:// your url goes here" />
    <div id="headfooter">and press “release it”</div>
</div>
<div id="headright">
    <div id="headabout"></div>
    <input id="headsubmit" type="button" value="release it"  data-bind="click: addReleaseItemClick" /> <a id="headregister" href="#">register</a>
</div>

</script>