<script type="text/html" id="releaseItemTemplate">

        <div class="releaseItem">
           <div class="releaseItemTop">
               <div class="releaseItemTopName">
                   <a data-bind="href: uri"><span data-bind="text: title" ></span></a>
               </div>
               <div class="releaseItemTopAuthorDate">by <span class="releaseItemTopAuthor">James</span> on <span class="releaseItemTopDate"  data-bind="text: insertDate"></span></div>
           </div>
           <div class="releaseItemBody"  data-bind="text: content"></div>
       </div>
</script>

