<script type="text/html" id="releasesListTemplate">
    <div id="releasesList">
        <h1>Latest Releases</h1>

        <div data-bind="template: {name:'releaseItemTemplate', foreach:releaseItems}"></div>
    </div>
</script>