<script type="text/html" id="topTemplate">
    <ul id="topmenu">
        <li><a href="#" id="topregister">register</a> / </li>
        <li><a href="#" id="toplogin">log in</a></li>
    </ul>

    <div id="dialog-register" title="REGISTER" style="display:none">
	    <form>
            <div class="formRow">
                <label for="registerEmail">your email</label>
                <input id="registerEmail" type="text" value="enter your email" />
            </div>
            <div class="formRow">
                <label for="registerPassword">your password</label>
                <input id="registerPassword" type="password" />
            </div>
            <input type="submit" value="register" />
	    </form>
    </div>

    <div id="dialog-login" title="LOG IN" style="display:none">
	    <form>
            <div class="formRow">
                <label for="loginEmail">your email</label>
                <input id="loginEmail" type="text" value="enter your email" />
            </div>
            <div class="formRow">
                <label for="loginPassword">your password</label>
                <input id="loginPassword" type="password" />
            </div>
            <input type="submit" value="register" />
	    </form>
    </div>

</script>