<script type="text/html" id="mainPageLayout">
    <div id="addReleaseFormTemplate_TemplateContainer" data-bind="template: { name: 'addReleaseFormTemplate' }"></div>
    <div id="raeleasesListTemplate_TemplateContainer" data-bind="template: { name: 'releasesListTemplate' }"></div>
</script>